/* Fonts */
@font-face {
    font-family: Oxygen;
    src: url("https://static.dmmdgm.dev/file/fonts/oxygen/Oxygen-Regular.ttf");
}

/* Resets */
html, body {
    background-color: var(--sd-mono-100);
    height: 100%;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
}

* {
    color: var(--sd-mono-1000);
    font-family: Oxygen;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    transition: opacity 0.2s ease;
}

a:hover:not(:has(a:hover)) {
    opacity: 75%;
}
